<div class="modal-header">
    <h4 class="modal-title">Session Timeout Alert</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            {{idleState}}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <button type="button" (click)="logout()" class="btn btn-danger">Logout</button> | <button type="button" (click)="stay()" class="btn btn-success">Stay</button>
        </div>
    </div>
</div>
