<div class=row>
   <div class="col-md-12">
      <button class="btn btn-lg btn-outline-primary" (click)="add()">Add Employee</button>
   </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
    <table class="table table-bordered">
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Gender</td>
            <td>Contact</td>
            <td>Age</td>
            <td>Salary</td>
            <td>Department</td>
            <td>Actions</td>
        </tr>
        <tr *ngFor="let emp of EmployeeList;let i = index;trackBy: trackByEmpId">
            <td>{{emp.Id}}</td>
            <td>{{emp.EmpName}}</td>
            <td>{{emp.Gender}}</td>
            <td>{{emp.Contact}}</td>
            <td>{{emp.Age}}</td>
            <td>{{emp.Salary}}</td>
            <td>{{emp.Department.DepName}}</td>
            <td><button class="btn btndefault" (click)=update(emp)>Update</button> | <button class="btn btn-danger" (click)="delete(emp)">Delete</button></td>
        </tr>
    </table>
    </div>
</div>