<h1>Register New User</h1>
<br>
<div class="row">
    <div class="col-md-6">
        <form [formGroup]="regForm" (ngSubmit)="onRegister(regForm)">
            <div class="form-group">
            <span class="error">*</span><label>Email</label>
            <input type="text" class="form-control" id="email" formControlName="email" />
            <div *ngIf="regForm.controls['email'].invalid && (regForm.controls['email'].touched || regForm.controls['email'].dirty)" class="error">
                <div *ngIf="regForm.controls['email'].errors.required">
                    Email is required
                </div>
                <div *ngIf="regForm.controls['email'].errors.email">
                    Invalid Email
                </div>
            </div>
            </div>
            <div class="form-group">
                <span class="error">*</span><label>Password</label>
                <input type="password" class="form-control" id="password" formControlName="password" />
                <div *ngIf="regForm.controls['password'].invalid && (regForm.controls['password'].touched || regForm.controls['password'].dirty)" class="error">
                    <div *ngIf="regForm.controls['password'].errors.required">
                        Password is required
                    </div>
                </div>
            </div>
            <div class="form-group">
                <span class="error">*</span><label>Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" />
                <div *ngIf="regForm.controls['confirmPassword'].invalid && (regForm.controls['confirmPassword'].touched || regForm.controls['confirmPassword'].dirty)" class="error">
                    <div *ngIf="regForm.controls['confirmPassword'].errors.required">
                        Retype Password
                    </div>
                </div>
                <div *ngIf="regForm.hasError('passwordNotMatch') && (regForm.controls['confirmPassword'].touched || regForm.controls['confirmPassword'].dirty)" class="error">
                    Password did not match
                </div>
            </div>
            <div class="row" *ngIf="roles">
                <ul>
                  <li *ngFor="let item of roles;let i = index">
                    <input type="checkbox" [id]="'roles-'+i" value="{{item.Id}}"
                    [checked]="item.selected"  (change)="updateSelectedRoles(i)">
                    <label [for]="'roles-'+i">{{item.Name}}</label>
                  </li>
                </ul>
            </div>    
            <button type="submit" class="btn btn-primary" [disabled]="!regForm.valid">Register</button>
        </form>
    </div>
</div>
